<header>
  <nav>
    <%= image_tag "logo.png", :class => "logo" %><input type="text" placeholder="Search">

  </nav>
</header>

  <div class="container">

    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>

  </div>
