

  <div class="container">
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
  </div>


  <% @instagram_photos.each do |photo| %>
    <div class="box"><%= image_tag photo.images.standard_resolution.url %></div>
  <% end %>
