<header>
  <nav>
    <%= image_tag "logo.png", :class => "logo" %><input type="text" placeholder="Search">
  </nav>
</header>

  <div class="container">
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
  </div>

  <form>
    HashTag Search:<br>
      <input class="hashTag" type="text" name="hashTag">
    <br>
</form>

  <% @instagram_photos.each do |photo| %>

  <%= photo.location %>
  <%= image_tag photo.images.standard_resolution.url %>

  <% end %>
