<header>
  <nav>
    <h1><%=link_to "Trip.me", "/search_results"%></h1><img src="logo.png"><form action="/search_results"><input type="search" placeholder="Search" name="guestsearch"></form>
  </nav>
</header>

  <div class="container">

    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
    <div class="box"><%= image_tag "shoes.jpg" %></div>
  </div>

  <form>
    HashTag Search:<br>
      <input class="hashTag" type="text" name="hashTag">
    <br>
</form>

  <% @instagram_photos.each do |instagram| %>

  <%= instagram.location %>
  <%= image_tag instagram.images.standard_resolution.url %>

  <% end %>
