<!DOCTYPE html>
<html>
<head>
  <title>TripMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
</head>
<body>
  <header>
    <nav>
      <%= image_tag "logo.png", :class => "logo" %>
      <form action="/search_results"><input type="search" placeholder="Search" name="guestsearch"></form>
    </nav>
  </header>


<%= yield %>

</body>
</html>
